body{
    background: #f2f2f2;
}
.header{
    background: #1b1b1b;
    clear: both;
    height: 54px;
    min-width: 1200px;
    margin-bottom: 10px;
}
.header .head{
    position: relative;
    width:1200px;
    height: 54px;
    margin: 0 auto;
}
.header .logo{
    background: url("../images/logo_03.jpg");
    height:36px;
    width: 140px;
    display: block;
    float: left;
    margin-top: 10px;
}
.header .nav-ul{
    padding-left: 30px;
    position: relative;
    float: left;
    z-index: 99;
}
.header li{
    background: #1b1b1b;
    float: left;
    height: 54px;
    padding: 0 16px;
    /*overflow: hidden;*/
    position: relative;
}
.header .nav-link{
    float: left;
    line-height: 28px;
    height: 28px;
    font-size: 16px;
    margin-top: 14px;
    color: #fff;
}
.header li:hover{
    background: rgb(51,51,51);
}
.header .dowload{
    z-index: 5;
    border: 2px #eeeff2 solid;
    width: 288px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 54px;
    padding: 9px 0 9px 18px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    display: none;
}
.header .dowload a{
    float: left;
    white-space: nowrap;
    width: 132px;
    line-height: 30px;
}
.header li:hover .dowload{
    display: block;
}
.header .dowload-li:hover{
    color: rgb(99,181,4);
}
.header .dowload-chu{
    width: 288px;
    background: #ffffff;
    border: 2px solid #eeeff2;
    position: absolute;
    left:0px;
    display:none;
    box-shadow: 0 0 2px rgba( 0,0,0,.2);
    top: 54px;
    padding: 9px 0 9px 18px;
}
.header .dowload-chu a{
    white-space: nowrap;
    width: 132px;
    line-height: 30px;
    float: left;
}
.header li:hover .dowload-chu {
    display: block;
}
.header .seach-b{
    margin-top: 11px;
    width: 270px;
    height: 34px;
    line-height: 34px;
    background: #333333;
    position:relative;
    float: right;
    border-radius: 2px;
    border: 1px solid #1d2021;
    margin-right: 290px;
}
.seach-b p{
    font-size: 14px;
    padding: 0 36px 0 8px;;
}
.header .seach{
    width: 100%;
    height:34px;
    box-sizing: border-box;
    color: #999;
    outline: none;
    border: 0px;
    background: 0 0;
}
.header .seached{
    right: 12px;
    top: 8px;
    cursor: pointer;
    outline: none;
    position: absolute;
    border: 0;
    width: 17px;
    height: 17px;
    background: url("../images/shousuo.png") no-repeat;
    font-size: 0px;
}
.header .goin{
    top:0px;
    left:1016px;
    position: absolute;
    float: left;

}
.header .goin .register{
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    float: left;
    background: #63b504;
    margin-top: 10px;
}
.header .goin .sign-in{
    font-size: 14px;
    color: #ffffff;
    margin-left: 10px;
    width: 70px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ffffff;
    margin-top: 10px;
    float: left;
    text-align: center;
    border-radius: 2px;
    background: 0 0;
    position: relative;
}
.header .goin .register:hover{
    background:rgb(90,167,0);
}
.header .goin .sign-in:hover{
    background: #ffffff;
    color: #333333;
}
.min{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/********/
#wrap {
    position:relative;
    width:1200px;
    height:340px;
    margin:0 auto;
    overflow:hidden;
}
#wrap .pic {
    position:absolute;
    top:0;
    left:0;
    width:1000%;
    height:100%;
}
.pic li {
    float:left;
    width:1200px;
    height:340px;
    color:#fff;
    font-size:80px;
    text-align:center;
    line-height:340px;
}
.pic li img {
    border:0;
    vertical-align:middle;
    /*width:700px;
    height:400px;
    */
}

.tab {
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-100px;
    height:30px;
    padding-left:10px;
    background:rgba(0,0,0,.2);
    border-radius:15px;
    transition:0.5s;
}
.tab:hover {
    background:rgba(0,0,0,.5);
    transform:scale(1.1);   /*放大效果*/
}
.tab li {
    width:20px;
    height:20px;
    float:left;
    background:#fff;
    border-radius:50%;
    margin:5px 10px 0 0;
    /*opacity:0.35;
    */
    cursor:pointer;
}
.tab li.on {
    /*position:absolute;
    top:0;
    */
    /*background:rgb(90,167,0);*/
    background: #00ae9d;
    /*opacity:1;
    z-index:99;
    */
}
/* .tab li:hover{
    background-color: #00ae9d;
} */

.min .btns .leftbtn{
    border-radius: 0px 4px 4px 0px;
    width:50px;
    height: 140px;
    position: absolute;
    top:100px;
    background:rgba(0,0,0,.2);
    cursor: pointer;
}
.min .btns img{
    position: absolute;
    top:46px;
}
.min .btns .rightbtn img{
    position: absolute;
    top:46px;
}
.min .btns .rightbtn{
    border-radius: 4px 0px 0px 4px;
    width:50px;
    height: 140px;
    position: absolute;
    left:1150px;
    top:100px;
    background:rgba(0,0,0,.2);
    cursor: pointer;
}
.min .btns{
    z-index: 99;
    width: 1200px;
    /*height: 340px;*/
}

.min .leftbtn:hover{
    background: #63b504;
}
.min .rightbtn:hover{
    background: #63b504;
}
.min .daohang{
    height: 40px;
    max-width: 1200px;
    margin-top: 10px;
    background: #fff;
}
.min .daohang a{
   text-align: center;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 8%;
    min-width: 90px;
    /* text-indent: 20px; */
    font-size: 14px;
}
.min .daohang a:hover{
    color:rgb(99,181,4);
}
.min .min-pic{
    padding-bottom: 10px;
    margin-top: 10px;
}
.min .min-pic .picture li img{
    transition:all 0.5s;
}
.min .min-pic .picture li img:hover{
    transform:scale(1.1);
}
.min .min-pic .picture li b{
    display: block;
    height: 34px;
    width: 100%;
    position: absolute;
    right: 10px;
    left: 0;
    line-height: 34px;
    text-indent: 10px;
    color: #edf0f2;
    font-size: 14px;
    bottom: -40px;
    transition: all .2s ease-in;
    background-color: rgba( 0,0,0,.2);
}
.min .min-pic .picture li:hover b{
    bottom:0px;
}

.min .min-pic ul{
    margin-right: -15px;
    width: 1215px;
    overflow: hidden;
}
.min .min-pic li{
    float: left;
    width: 390px;
    height: 250px;
    margin: 0 15px 10px 0;
    position: relative;
    overflow: hidden;
}
.min .button-box{
    height: 38px;
    text-align: center;
    padding: 10px 0 20px;
}
.min .button-box a{
    text-align: center;
    width: 40px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #ffffff;
    padding: 8px 15px;
    margin: 0 2px 0 5px;
}
.min .button-box b{
    width: 40px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background: rgb(99,181,4);
    color: #ffffff;
    padding: 8px 15px;
    margin: 0 4px 0 5px;
}
.min .button-box .dian{
    border: 0px;
    background: 0 0;
}
.min .button-box  input{
    width: 40px;
    padding: 7px 5px;
    text-align: center;
    margin:0px;
    border: 1px solid #bbb;
    border-radius: 3px;
}
.min .button-box .dian:hover{
    background: 0 0;
    color:#333333;
}
.min .button-box a:hover{
    background: rgb(99,181,4);
    color: #ffffff;
}
.min .button-box .queding{
    text-align: center;
    background: #fff;
    padding: 0 8px;
    border: 1px solid #ddd;
    display: inline-block;
    height: 36px;
    line-height: 38px;
    margin: 0 4px 0 5px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.toTopH {
    position:fixed;
    right:5%;
    bottom:5%;
    width:60px;
    height:60px;
    background:#666;
    border-radius:60px;
    text-align:center;
    transition:500ms;
    line-height:60px;
    display:none;
    font-size:16px;
    z-index:999999999;
    color:#fff;
    cursor:pointer;
}
/*.aip-back-top i {*/
/*    color:#fff;*/
/*}*/
.toTopH:hover{
    background: #63b504;
}

.finsh{
    min-width: 1200px;
    padding:16px 0px;
    margin-top: 10px;
    background: #333333;
}
.finsh .finsh-box{
    text-align: center;
    color:#999999;
    width: 1200px;
    margin: 0 auto;
}
.finsh .finsh-box a:hover{
    color: #ffffff;
}

/*图片页面*/
.max{
    /* padding-top: 20px; */
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
.max .font{
    width: 850px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #ededed;
   
} 
.max  h1{
        font-size: 18px;
    }
.max  .countimg{
        width: 850px;
    }
    .max .main{
        float: left;
    }
.max  .countimg img{
    width: 850px;
    height: 100%;
}
.max .font-txt{
    width: 850px;
    font-size: 14px;
    clear: both;
    padding: 10px 0 2px;
}
.max .tage a{
    display: inline-block;
    background-color: #fff;
    padding: 4px 10px 0;
    border-radius: 4px;
    height: 24px;
    margin-bottom: 10px;
    margin-right: 6px;
    color: #333;
}
.max .load{
    width: 320px;
    float: right;
}
.max .dowpic{
    height: 60px;
    position: relative;
    width: 320px;
    border-radius: 4px;
}
.max .dowpic a{
    background: #63b504;
    display: block;
    line-height: 60px;
    text-align: center;
    /* text-indent: 60; */
    font-size: 20px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
}
.max .dowpic i{
    margin-right: 15px;
}
.max .dowpic a:hover{
    background:rgb(90,167,0);
}
.max .load .picfor{
    display: block;
    border: #ededed 1px solid;
    background-color: #fafafa!important;
    margin: 15px 0;
    padding: 10px 15px;
}
 .load .picfor p{
    color: #333;
    line-height: 28px;
}
.load .picfor span{
    padding-left: 20px;
}
.load .fx{
    margin-bottom: 10px;
    text-align: center;
}
.load .fx i{
    margin-right: 10px;
    font-size: 30px;
}
.max .photopx{
    padding: 10px 0 2px;
    clear: both;
    width: 1200px;
    margin: 0 auto;
}
.max .slist .sixpic{
    margin-bottom: 10px;
    margin-right: -15px;
    width: 1215px;
    overflow: hidden;
}
.max .slist .morepic{
    margin-bottom: 8px;
}
.max .slist .sixpic li{
    float: left;
    width: 390px;
    height: 250px;
    margin: 0 15px 10px 0;
    position: relative;
    overflow: hidden;
}
.max .slist .sixpic img{
    width: 390px;
    height: 250px;  
}
.fhing{
    min-width: 1200px;
    margin-top: 10px;
    padding: 16px 0;
    color: #888;
    background: #1b1b1b;
}
.fhing .txt{
    width: 1200px;
    margin: 0 auto;
}
.fhing .txt p{
    color: #888;
}
.fhing .txt p a:hover{
    color: #fff;
}
.right-btn{
    position: fixed;
    top: 60%;
    right: 0px;
    width: 52px;
    z-index: 99;
}
.right-btn .btn-qq{
    border: 1px solid #e8e8e8;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
} 

.right-btn .btn-qq .qq{
    width: 52px;
    height: 48px;
    cursor: pointer;
    display: block;
    text-align: center;
    position: relative;
    padding-top: 4px;
    color: #747474;
}
   
.right-btn .btn-qq .qq i{
    background-image: url(../images/QQ.png);
    display: block;
    height: 32px;
    width: 32px; 
    overflow: hidden;
    margin-left: 10px;
    background-position: center;
}
.right-btn .btn-qq .phone{
    width: 52px;
    height: 48px;
    cursor: pointer;
    display: block;
    text-align: center;
    position: relative;
    padding-top: 4px;
    color: #747474;
}
.right-btn .btn-qq .phone i{
    text-align:center;
    background-image: url(../images/phone\ on.png);
    cursor: pointer;
    display: block;
    height: 32px;
    width: 32px; 
    overflow: hidden;
    margin-left: 10px;
    background-position: center;
}
.right-btn .btn-qq .qq:hover{
    background-color:#63b504;
    color: #fff; 
}
.right-btn .btn-qq .phone:hover{
    background-color: #63b504;
    color: #fff;
}
.right-btn .btn-qq .phone:hover i{
    background-image: url(../images/phone\(1\).png);
}
.right-btn .btn-qq .qq:hover i{
    background-image: url(../images/QQ\(1\).png);
}
.right-btn .return-top{
    background-color: #fff;
    display: none;
    color: #747474;
    font-size: 12px;
    text-align: center;
    padding-top: 2px;
    height: 48px;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.right-btn .return-top i{
    display: block;
    height: 32px;
    width: 32px; 
    overflow: hidden;
    margin-left: 10px;
    background-position: center;
    background-image: url(../images/向上箭头.png);
}
.right-btn .return-top:hover{
    background-color: #63b504;
    color: #fff;
}
.right-btn .return-top:hover i{
    background-image: url(../images/向上箭头\ \(1\).png);
}